

.main {
  height: calc(100vh - 80px);
  width: 100vw;
  background: #000000 url('/BgImage.png') center center/cover no-repeat;
  color: #ffffff;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  padding: 40px 0;
}