.player {
  position: relative;
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  background: rgba(141, 141, 141, 0.46);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.meta {
  background: rgba(206, 206, 206, 0.36);
  padding: 5px 20px 5px 10px;
  border-radius: 10px;
}

.funcPart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topPart {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.btn {
  cursor: pointer;
  box-sizing: content-box;
  &:hover {
    color: #B2B2B2;
  }
}

.pause {
  padding: 10px;
  background-color: #fff;
}

.progressWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.progressBar {
  cursor: pointer;
  width: 305px;
  padding: 5px;
  height: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.line1 {
  height: 3px;
  border-radius: 5px 0 0 5px;
  background-color: #fff;
}

.line2 {
  height: 3px;
  border-radius: 0 5px 5px 0;
  background-color: #5E5E5E;
}

.volume {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.progressVolumeBar {
  cursor: pointer;
  width: 80px;
  height: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.volumeLine1 {
  height: 3px;
  border-radius: 5px 0 0 5px;
  background-color: #fff;
}

.volumeLine2 {
  height: 3px;
  border-radius: 0 5px 5px 0;
  background-color: #5E5E5E;
}