.wrapper {
  width: calc(100% - 535px);
  height: 100%;

  display: flex;
}

.main {
  height: calc(100% - 70px);
  width: calc(100% - 40px);

  border-radius: 0 20px 20px 0;
  background: rgba(141, 141, 141, 0.46);
  backdrop-filter: blur(20px);

  padding: 35px 20px;
}

.mainContent {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.leftPart {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}